.loginpg {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("events/event3.png") no-repeat;
  background-size: cover;
  margin: 0;
  font-family: "Archivo Black", sans-serif; 
}

/*Login*/
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.wrapper {
  width: 420px;
  height: 550px;
  background: #a67fd3;
  border-radius: 10px;
  padding: 0px 40px;
  box-sizing: border-box;
}

.wrapper img {
  height: 180px;
  width: 180px;
}
.wrapper h1 {
  font-size: 36px;
  text-align: center;
}

.wrapper .input-box {
  width: 100%;
  height: 50px;
  margin: 15px 0;
}

.input-box input {
  justify-content: end;
  width: 100%;
  height: 100%;
  background: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  padding: 20px 35px 20px 20px;
  box-sizing: border-box;
}

.input-box input ::placeholder {
  color: #000000;
}

.wrapper .btn {
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  background: #3b1f5a;
}

.wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 15px 0 10px;
}

.register-link p a {
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}

#tryagn {
  display:none;
  color: white;
}


/*Sign Up*/
.wrapper1 {
  width: 420px;
  height: 550px;
  background: #a77fd5;
  border-radius: 10px;
  padding: 0px 40px;
  box-sizing: border-box;
}

.logo1 {
  text-align: center;
  align-items: center;
}
.wrapper1 img {
  height: 180px;
  width: 180px;
}
.wrapper1 h1 {
  font-size: 36px;
  text-align: center;
}

.wrapper1 .input-box1 {
  width: 100%;
  height: 50px;
  margin: 10px 0;
}

.input-box1 input {
  width: 100%;
  height: 100%;
  background: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  padding: 20px 35px 20px 20px;
  color: aliceblue;
  box-sizing: border-box;
}

.input-box1 input ::placeholder {
  color: #000000;
}

.wrapper1 .btn1 {
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  background: #3b1f5a;
}

#nonuser {
  display:none;
  color: white;
}

/* EVERY PAGE */

.pages {
  background: black;
  margin: 0;
}


.divider {
  padding: 5px;
  background-color: #000000;
}

#footer {
  padding: 20px;
  text-align: center;
  background-color: black;
}

.emailcontainer {
  color: #a57dd6;
  font-family: "Archivo Black", sans-serif;
}

.email {
  color: #3b1f5a;
  font-family: "Archivo Black", sans-serif;
  border-radius: 45px;
  font-size: 15px;
  padding: 10px;
  text-align: center;
}

.emailenter {
  background-color: #715d98;
  color: white;
  border-radius: 45px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 15px;
  font-family: "Archivo Black", sans-serif;
}

h1 {
  color: white;
  font-family: "Archivo Black", sans-serif;
  text-align: center;
  font-size: 40px;
}

h2{
  color: white;
  font-family: "Archivo Black", sans-serif;
  text-align: center;
  font-size: 30px;
}


/* HOMEPAGE */
/* NAV BAR */
.headercontainer {
  text-align: center;
  background-color: black;
  height: 300px;
  
}

.logo {
  width: 200px;
  height: 200px;
  padding-top: 20px;
}

nav {
  justify-content: space-evenly;
  flex-wrap: wrap;
}

nav ul li {
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
}

nav ul li a {
  font-family: "Archivo Black", sans-serif;
  color: white;
  font-size: 25px;
}

nav ul li a:hover {
  color: #a77fd5;
  font-size: 28px;
}

/* BANNER */
.bannercontainer {
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  background: url("banners/homebanner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  width: 100%;
  padding-top: 10px;
}

.motto1 {
  font-family: "Archivo Black", sans-serif;
  color: #3B1F5A;
  position: relative;
  font-size: 100px;
  top: 3rem;
}

.motto2 {
  font-family: "Archivo Black", sans-serif;
  color: #3B1F5A;
  position: relative;
  font-size: 100px;
  top: -6rem;
}

.motto3 {
  font-family: "Archivo Black", sans-serif;
  color: #715d98;
  position: relative;
  font-size: 35px;
  top: -1rem;
}

.about {
  position: relative;
  top: -3rem;
  background-color: #a77fd5;
  color: white;
  border-radius: 45px;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 40px;
  font-family: "Archivo Black", sans-serif;
}

.about:hover {
  background-color: #3b1f5a;
  font-size: 35px;
}

/* DAILY LOG IN */

.textcontainer {
  font-family: "Archivo Black", sans-serif;
  color: white;
}

.dayscontainer {
  background-color: #a77fd5;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 50px;
  padding-bottom: 50px;
}

.days {
  width: 170px;
  height:250px;
  padding-bottom: 15px;
  border-radius: 40px;
}

.logincontainer {
  background-color: #a77fd5;
  text-align: center;
  padding-bottom: 50px;
}

.claim {
  width: 250px;
  height: 125px;
  font-size: 40px;
  font-family: "Archivo Black", sans-serif;
  background-color: black;
  color: white;
  border-radius: 100px;
}

.claim:hover {
  background-color: white;
  color: #715d98;
}

.announcementcontainer{
  background-color: #a77fd5;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.announcement{
  font-family: "Archivo Black", sans-serif;
  font-size: 30px;
}

@media only screen and (max-width: 768px) {
  /* .logo {
    width: 150px;
    height: 150px;
  } */

  nav ul li a {
    font-size: 18px;
    padding: 15px;
  }

  h1 {
    font-size: 24px;
  }

  /* button {
    width: 200px;
    height: 100px;
    font-size: 24px;
  } */
}

@media only screen and (max-width: 480px) {
  nav {
    flex-direction: column;
    text-align: center;
  }

  nav ul li {
    display: block;
    margin-bottom: 10px;
  }

  nav ul li a {
    padding: 10px;
  }

  /* .banner {
    height: auto;
  } */

  .dayscontainer {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  button {
    width: 150px;
    height: 75px;
    font-size: 18px;
  }

  .divider {
    padding: 20px;
  }
}

/* EVENTS PAGE */
.eventscontainer{
  background-color: #a77fd5;
  justify-content: center;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 70px;
}

.event1{
  background-image: url('events/event1.png');
  background-size: 1300px;
  height: 550px;
  background-position-x: center;
  flex-wrap: wrap;
  background-repeat: no-repeat;
  padding-bottom: 50px;
}

.event2{
  background-image: url('events/event2.png');
  background-size: 1300px;
  height: 550px;
  background-position-x: center;
  flex-wrap: wrap;
  background-repeat: no-repeat;
  padding-bottom: 50px;
}

.event3{
  background-image: url('events/event3.png');
  background-size: 1300px;
  height: 550px;
  background-position-x: center;
  flex-wrap: wrap;
  background-repeat: no-repeat;
}

/* PRODUCTS PAGE */
.cataloguecontainer {
  background-color: #a57dd6;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 35px;
  padding-top: 50px;
}

.product {
  width: 400px;
  height: 500px;
  cursor: pointer;
  padding-bottom: 50px;
}

.product:hover {
  transform: scale(1.1);
}

.productprice{
  font-family: "Archivo Black", sans-serif;
}

/* ABOUT PAGE */
.banner1container {
  background-color: #a57dd6;
  justify-content: center;
  text-align: center;
  padding-bottom: 25px;
  padding-top: 25px;
}

.logo1 {
  width: 300px;
  height: 300px;
}

.slogan {
  font-family: "Archivo Black", sans-serif;
  color: #3b1f5a;
}

.logo2 {
  width: 170px;
  height: 170px;
}


/* REWARDS PAGE */
.pointscontainer {
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  background: url("banners/rewardbanner.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 100%;
  padding-top: 10px;
}

.points{
  background-color: #715D98;
  justify-content: center;
  text-align: center;
  width: 400px;
  position: relative;
  top: 11em;
  left: 35em;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 40px;
}

.rewardcontainer{
  background-color: white;
  padding-top: 10px;
  padding-bottom: 5px;
}

.rewards{
  color: black;
  font-family: "Archivo Black", sans-serif;
  text-align: left;
  font-size: 25px;
  padding-left: 50px;
}

.rewardpoints{
  color: #715D98;
  font-family: "Archivo Black", sans-serif;
  text-align: right;
  font-size: 20px;
  padding-right: 40px;
}


/* CART PAGE*/

.cartcontainer {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
  height: 530px;
}

.sidebar {
  width:100%;
  background-color: #a57dd6;
  padding: 15px;
  text-align: center;
}

.head {
  background-color: #3b1f5a;
  border-radius: 3px;
  height: 40px;
  padding: 10px;
  margin-bottom: 20px;
  color:white;
  display: flex;
  align-items: center;
  font-size: 30px;
}

.foot {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
  padding: 10px 0px;
  border-top: 1px solid black;
  font-size: 25px;
}



.checkout  {
  padding: 14px 40px;
  border:none;
  background-color: #3b1f5a;
  border-radius: 3px;
  color: white;
  font-family: "Archivo Black", sans-serif;
  font-size: 15px;
  cursor: pointer;
  align-items: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.checkout:hover {
  background-color: black;
}



.cartimg {
  height: 200px;
  width: 200px;
  
}

.citems {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
  padding: 10px 0px;
  align-items: center;
  
}

.popup {
  align-items: center;
}
  
.closebtn  {
  padding: 14px 40px;
  border:none;
  background-color: #3b1f5a;
  border-radius: 3px;
  color: white;
  font-family: "Archivo Black", sans-serif;
  font-size: 15px;
  cursor: pointer;
  align-items: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.closebtn:hover {
  background-color: black;
}

.popup {
  text-align: center;
  background: url("banners/rewardbanner.png") no-repeat ;
  height: 440px;
  width: 100%;
  justify-content: center;
  padding: 70px 0px;
  align-items: center;
  display: flex;
  flex-direction: column;
  

}

.popup h2 {
  padding-bottom: 30px;
}
